@{
    /**/

    ViewBag.Title = "sarmbrec";
}


<div id="download-on-github">
    <a href="https://github.com/sarmbrec?tab=repositories" target="_blank"><i class="fa fa-github"></i></a>
</div>

<div ng-view></div>


@Scripts.Render("~/bundles/angularJS")
@Scripts.Render("~/bundles/header")
@Scripts.Render("~/bundles/carousel")
@Scripts.Render("~/bundles/knowledgeBase")

