@{
    ViewBag.Title = "Home Page";
}


<article id="knowledge-base">

    <section id="HTML">
        <h2>HTML</h2>
        <ul>
            <li><a href="https://www.semrush.com/blog/semantic-html5-guide/" target="_blank">Semantic HTML Guide</a></li>
            <li><a href="https://getbootstrap.com/docs/3.3/" target="_blank">Bootstrap 3</a></li>
            <li><a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" target="_blank">Bootstrap 4</a></li>
        </ul>
    </section>

    <section id="SASS">
        <h2>SASS</h2>
        <ul>
            <li><a href="" target="_blank">SCSS</a></li>
            <li><a href="" target="_blank">link</a></li>
        </ul>
    </section>

    <section id="CSS">
        <h2>CSS</h2>
        <ul>
            <li><a href="" target="_blank">link</a></li>
            <li><a href="" target="_blank">link</a></li>
        </ul>
    </section>

    <section id="JavaScript">
        <h2>JavaScript</h2>
        <ul>
            <li><a href="" target="_blank">link</a></li>
            <li><a href="" target="_blank">link</a></li>
        </ul>
    </section>

    <section id="jQuery">
        <h2>jQuery</h2>
        <ul>
            <li><a href="" target="_blank">link</a></li>
            <li><a href="" target="_blank">link</a></li>
        </ul>
    </section>

    <section id="AngularJS">
        <h2>Angular JS</h2>
        <ul>
            <li><a href="" target="_blank">link</a></li>
            <li><a href="" target="_blank">link</a></li>
        </ul>
    </section>

    <section id="Angular">
        <h2>Angular</h2>
        <ul>
            <li><a href="" target="_blank">link</a></li>
            <li><a href="" target="_blank">link</a></li>
        </ul>
    </section>

    <section id="NET">
        <h2>.NET</h2>
        <ul>
            <li><a href="" target="_blank">link</a></li>
            <li><a href="" target="_blank">link</a></li>
        </ul>
    </section>

    <section id="MVC">
        <h2>MVC</h2>
        <ul>
            <li><a href="" target="_blank">link</a></li>
            <li><a href="" target="_blank">link</a></li>
        </ul>
    </section>

    <section id="ADA">
        <h2>ADA Compliancy</h2>
        <ul>
            <li><a href="" target="_blank">Arai</a></li>
            <li><a href="" target="_blank">Lighthouse</a></li>
            <li><a href="" target="_blank">Axe</a></li>
        </ul>
    </section>

    <section id="GIT">
        <h2>GIT</h2>
        <ul>
            <li><a href="https://github.com/sarmbrec" target="_blank">GitHub</a></li>
            <li><a href="https://github.com/sarmbrec?tab=repositories" target="_blank">Repositories</a></li>
        </ul>
    </section>


    <section id="SQL">
        <h2>SQL Server</h2>
        <ul>
            <li><a href="https://www.tutorialspoint.com/asp.net_mvc/asp.net_mvc_databases.htm" target="_blank">ASP.NET MVC - Databases</a></li>
        </ul>
    </section>

    @*
        <section id="">
            <h2></h2>
            <ul>
                <li><a href="" target="_blank">link</a></li>
                <li><a href="" target="_blank">link</a></li>
            </ul>
        </section>
    *@

</article>




@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@