<div class="container body-content animated fadeIn slower delay-3s">
    <article id="article-tech-stack-angularjs">
        <section id="section-tech-stack-angularjs">
            <div class="row">
                <div class="col-8">

                    <h1 class="mb-1">{{$ctrl.techStackAngularjs[0].title}}</h1>

                    <p class="lead font-weight-light">{{$ctrl.techStackAngularjs[0].subTitle}}</p>

                    <p>{{$ctrl.techStackAngularjs[0].category}}</p>

                    <p>{{$ctrl.techStackAngularjs[0].text}}</p>                                       

                    <code>{{$ctrl.techStackAngularjs}}</code>

                </div>
                <div class="col-4">

                    <div class="card mb-4">
                        <div class="card-body">
                            <img src="../../../../../Content/images/logos/AngularJS-medium.png" class="img-fluid" />
                        </div>
                        <div class="list-group list-group-flush small">
                            <a ng-repeat="link in $ctrl.techStackAngularjs[0].links" class="list-group-item list-group-item-action py-2" href="{{link.url}}">{{link.title}}</a>
                        </div>
                    </div>

                    <div class="">
                        <h5>Guides</h5>
                        <div class="list-group list-group-flush small">
                            <a ng-repeat="link in $ctrl.techStackAngularjs[0].techStack.links" class="list-group-item list-group-item-action py-2" href="{{link.url}}">{{link.title}}</a>
                        </div>
                    </div>

                    

                </div>
            </div>
        </section>
    </article>
</div>     