@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
}
else
{
}
@*<article id="article-carousel">   
    <h1 class="sr-only">Carousel of items</h1>
    <section id="section-carousel">
        <h2 class="sr-only">Do like old carousel of tech</h2>*@
        <carousel-module class="data-ng-cloak" data-ng-cloak></carousel-module>
    @*</section>
</article>*@
