@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
}
else
{
}
<article id="article-footer">
    <h1 class="sr-only">Footer header h1</h1>
    <section id="section-footer-copyright">
        <h2 class="sr-only">Footer header h2</h2>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application SECURED</p>
    </section>
</article>