@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
}
else
{
}
<article id="article-footer">
    <section id="section-footer-copyright">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application SECURED</p>
    </section>
</article>