@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
}
else
{
}
<article id="article-knowledge-base" class="animated fadeIn">
    <h1 class="mb-0">Knowledge base</h1>
    
        <!-- Use a custom component to render a list of phones -->
        <knowledge-base data-ng-app="knowledgeBaseApp" class="data-ng-cloak"></knowledge-base>
    
</article>