@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
}
else
{
}

<article id="article-knowledge-base">

    <h1>Knowledge base</h1>
    <div>
        <div class="card-columns data-ng-cloak" data-ng-app="phonecatApp">
            <!-- Use a custom component to render a list of phones -->
            <phone-list></phone-list>
        </div>
    </div>
</article>