@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
}
else
{
}
@*<article id="article-knowledge-base" data-ng-app="knowledgeBaseApp" class="data-ng-cloak">*@
<article id="article-knowledge-base" class="animated fadeIn slower delay-3s">
    <h1 class="mb-0">Knowledge base</h1>
    <!-- Use a custom component to render a list for knowledge base -->
    <knowledge-base class="data-ng-cloak"></knowledge-base>    
</article>