<article id="article-carousel">
    <h1 class="sr-only">Carousel of items</h1>
    <section id="section-carousel" class="shadow">
        <h2 class="sr-only">Do like old carousel of tech</h2>
        <div id="carouselExampleIndicators" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" 
                    ng-class="{ 'active' : $index == 0 }" 
                    ng-repeat="item in $ctrl.carousel track by $index" 
                    data-slide-to="{{$index}}"></li>
            </ol>
            <div class="carousel-inner">
                <div ng-style="{'background-image': 'url(' + item.background + ')'}" class="carousel-item" ng-class="{ 'active' : $index == 0 }" ng-repeat="item in $ctrl.carousel track by $index">
                    <div class="carousel-caption">
                        <img class="logo-techstack" data-ng-src="{{item.logo.url}}" style="width:{{item.logo.width}};height:{{item.logo.height}};" alt="{{item.title}}" />
                        <h1 class="small text-muted">{{item.title}}</h1>
                        <p>{{item.text}}</p>
                        <a data-ng-show="{{item.urlDetailView !== ''}}" href="#!/{{item.urlDetailView}}" class="mt-1 btn btn-outline-dark">Quick Start {{item.title}}</a>
                    </div>
                </div>
            </div>
            <span class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </span>
            <span class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </span>
        </div>
    </section>
</article>