<section id="section-knowledge-base" class="card shadow-sm animated fadeInUp slower delay-2s " ng-repeat="phone in $ctrl.phones">
    <div class="card-body">
        <h3 class="card-title">{{phone.title}}</h3>
        <h6 class="card-subtitle mb-2 text-muted">{{phone.subTitle}}</h6>
        <p class="card-text">{{phone.text}}</p>
        <ul>
            <li class="" ng-repeat="link in phone.links"><a class="card-link" href="{{link.url}}" target="_blank">{{link.title}}</a></li>
        </ul>
    </div>
</section>